<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.example.rxjavademo">

    <application
        android:name="debug.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">

        <!--   默认启动的 Activity 若设置了 label，优先级会高于 Application 的 label     -->
        <activity
            android:name="debug.MainActivity"
            android:theme="@style/AppTheme.MyActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>