<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.xx.androiddemo">

    <application
        android:name="debug.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">

        <!--   默认启动的 Activity 若设置了 label，优先级会高于 Application 的 label     -->
        <activity
            android:name=".AndroidDemoActivity"
            android:theme="@style/AppTheme.MyActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".service.ServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/AppTheme.ActivityDemoTheme" />
        <activity
            android:name=".activity.BaseActivity4Demo"
            android:theme="@style/AppTheme.ActivityDemoTheme" />
        <activity
            android:name=".activity.StandardActivity"
            android:label="StandardActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.ActivityDemoTheme" />
        <activity
            android:name=".activity.StandardTaskActivity"
            android:label="StandardTaskActivity"
            android:launchMode="standard"
            android:taskAffinity=".standard"
            android:theme="@style/AppTheme.ActivityDemoTheme" />
        <activity
            android:name=".activity.SingleTopActivity"
            android:label="SingleTopActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.ActivityDemoTheme" />
        <activity
            android:name=".activity.SingleTaskActivity"
            android:label="SingleTaskActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.ActivityDemoTheme" />
        <activity
            android:name=".activity.SingleTaskOtherTaskActivity"
            android:label="SingleTaskOtherTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".other"
            android:theme="@style/AppTheme.ActivityDemoTheme" /> <!-- 栈名要用.开头，并且不能有空格等字符 -->
        <activity
            android:name=".activity.SingleInstanceActivity"
            android:label="SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.ActivityDemoTheme" />

        <service android:name=".service.LocalService" />
        <service android:name=".service.ProcessService"
            android:process=".process_service"/>

    </application>

</manifest>