<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="trunk">

    <application
            android:name=".MyApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.5"/>

        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.FullScreen"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".AndroidActivity"
                android:theme="@style/AppTheme.FullScreen"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".JavaActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>

        <activity
                android:name=".OpenGLActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>

        <activity
                android:name=".KotlinActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>

        <!-- Java -->
        <activity
            android:name=".java.IOTest1Activity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>

        <activity
            android:name=".java.IOTest2Activity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>

        <activity
            android:name=".java.GCRootTestActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>

        <!-- Android -->

        <activity android:name=".android.RhythmTestActivity">
        </activity>

        <activity android:name=".android.WindowTestActivity">
        </activity>

        <activity
                android:name=".android.RewindTestActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>

        <activity android:name=".android.LayoutTestActivity">
        </activity>

        <activity
                android:name=".android.MyMediaPlayerActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".android.EncodeActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".android.AudioActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".android.SoundRecordActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".android.NestedScrollActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
        android:name=".android.GCTestActivity"
        android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".android.ServiceTestActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".android.FragmentTestActivity"
            android:theme="@style/AppTheme.FullScreen_v"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <!-- Android kotlin -->
        <activity
                android:name=".kotlin.ViewOffsetLRActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".kotlin.RecyclerActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".kotlin.NestedScrollActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>

        <!-- openGL ES -->
        <activity android:name=".gles.TextureViewActivity">
        </activity>
        <activity
                android:name=".gles.FrameSizeActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".gles.FrameSizeV2Activity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity android:name=".gles.TextureOrientationActivity">
        </activity>
        <activity android:name=".gles.GLCustomViewActivity">
        </activity>

        <activity
                android:name=".gles.SplitScreenActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".gles.SplitScreenV2Activity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".gles.SplitScreenV3Activity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".gles.FuzzyActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".gles.GhostingActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
                android:name=".gles.TransitionActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>

        <activity
                android:name=".gles.EGLPbufferActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>


        <!-- service -->
        <service android:name=".aidl.MyService"
            android:process=".myService">

        </service>

    </application>

</manifest>