<?xml version="1.0" encoding="utf-8"?>
<manifest package="trunk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".OpenGLActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.SplitScreenActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.SplitScreenV2Activity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.SplitScreenV3Activity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.FuzzyActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.ZoomTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.RectSmoothTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.TranslationTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.SpreadRoundTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.ShakeTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.PerlinTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.PagingTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.FuzzyTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.RotateTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.CircleCropTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.LuminanceMeltUpDownTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.LuminanceMeltDownUpTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.ColorDistanceTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.ColorGhostingTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.GhostingActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.SquareAnimTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.ColorTranslationTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.ColorTranslationTransitionActivityV2"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.ParticlesTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.TearTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.FuzzyZoomTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.SingleDragTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".gles.RandomSquareTransitionActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
    </application>

</manifest>